@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

h1, h2, h3, h4, a, {
	font-family : 'Roboto', sans-serif;
}

body{
	background-color: RGB(243, 244, 250);
}

.intro{
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 160px;
	padding-right: 160px;
}

.pres{
	background-color: lightgrey;
	padding-top: 60px;
	padding-bottom: 60px;
}

.spe{
	background-color: rgb(255, 255, 255);
	width: 900px;
	padding-top: 80px;
	padding-bottom: 80px;
	margin: 80px auto;
	border-style:double;

}

.exp{
	background-color: rgb(255, 255, 255);
	width: 900px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin: 16px auto;
	border-style:double;
}


.folow{
	justify-content: space-between;
	text-align: center;
	width: 900px;
	padding-top: 80px;
	padding-bottom: 80px;

}

a {
	text-decoration: none;
}


h4{
	text-align: center;
	color: indianred; 
}

h2	{
	text-align: center;
}

.img-center{
	margin-right: 112px;
}

.btn-pink{
	background-color: lightpink;
	color: black;
	border-radius: 16px;
	padding: 8px;
	transitions : 1s;
	display: block;
	text-align: center;
	margin: 8px 0;
}

.btn-pink:hover{
	background-color:black;
	color: lightpink;
	transition: 1s;
}

.btn-pink2{
	background-color: lightpink;
	color: black;
	border-radius: 12px;
	transitions : 1s;
	padding: 16px;
	margin: 16px;
}

.btn-pink2:hover{
	background-color:black;
	color: lightpink;
	transition: 1s;
}

.cards-flex {
	display: flex;
	justify-content: space-between;
}

ul {
  	list-style-type: none;
}

.text-center{
	text-align: center;
}

.text-pink{
	color: indianred;
}

.test{
	width: 28%;
	padding-top: 80px;
	padding-bottom: 0px;
	padding-left: 160px;
	padding-right: 160px;
	float: right;
}

.reduction{
	width: 50%;
}
